<!DOCTYPE html>
<html>

<head th:replace="~{layout/plantilla :: head-2}">
  <meta charset="UTF-8">
  <title>Sincronías Official Site | Fashion Clothes</title>
</head>

<body>

<header th:replace="~{layout/plantilla :: header}"/>

<section style="background-color:#f5f0eb; padding-bottom: 70px">
  <br>
  <h1 id="titulos">[[#{carrito.titulo}]]</h1><br>
    <section th:replace="~{carrito/fragmentosCarrito :: listadoCarrito}"/>
</section>

<footer th:replace="~{layout/plantilla :: footer}"/>

</body>

</html>