<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <link rel="stylesheet" type="text/css" th:href="@{CSS/styles.css}"/>
  <meta charset="UTF-8">
  <title>Sincronías Official Site | Fashion Clothes</title>
  <link rel="shortcut icon" href="../../static/media/shortcut_icon.png"/>
</head>

<head th:fragment="head-2">
  <link href="../../static/CSS/styles.css" rel="stylesheet" type="text/css">
  <meta charset="UTF-8">
  <title>Sincronías Official Site | Fashion Clothes</title>
  <link rel="shortcut icon" href="../../static/media/shortcut_icon.png"/>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<head th:fragment="head-3">
  <link href="../../static/CSS/styles.css" rel="stylesheet" type="text/css">
  <meta charset="UTF-8">
  <title>Sincronías Official Site | Fashion Clothes</title>
  <!--JQUERY-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- Los iconos tipo Solid de Fontawesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>
<header th:fragment="header" id="encabezado">
  <nav>
    <h1 class="company_name">Sincronias</h1>
    <div id="icons">
      <a th:href="@{/templates/ini_sesion/inicio_sesion}" style="padding-right: 9px"><img
              src="../../static/media/usuario.png"
      /></a>
      <a th:href="@{/extras/carrito}" style="padding-right: 13px"><img
              src="../../static/media/bolsa.png"></a>
      <a th:href="@{/base_datos/configuracion}"><img
              src="../../static/media/configuracion.png"></a>
    </div>
    <div class="flexsearch">
      <div class="flexsearch--wrapper">
        <form class="flexsearch--form" method="get"
              action="http://www.google.com/search ">
          <div class="flexsearch--input-wrapper">
            <input class="flexsearch--input" name="q"
                   placeholder=" Buscar">
          </div>
          <input class="flexsearch--submit" type="submit"
                 value="&#10140;"/>
        </form>
      </div>
    </div>

    <div class="enlaces">
      <a th:href="@{/index}" id="enlace-individual">[[#{plantilla.inicio}]]</a>
      <a th:href="@{/catalogue/catalogos}" id="enlace-individual">[[#{plantilla.catalogos}]]</a>
      <a th:href="@{/extras/info}" id="enlace-individual">[[#{plantilla.acercade}]]</a>
    </div>
  </nav>
</header>

<footer th:fragment="footer" id="footer">
  <a href="https://www.whatsapp.com/" style="padding-right: 5px"><img
          src="../../static/media/whatsapp.png"/></a>
  <a href="https://www.instagram.com/" style="padding-right: 5px"><img
          src="../../static/media/instagram.png"/></a>
  <a href="https://www.facebook.com/"><img
          src="../../static/media/facebook.png"
  /></a>
  <p id="infofooter">© 2023 Sincronías SA [[#{plantilla.derechos}]]</p>
  <div class="container pt-4" style="margin-top: -1.5em; margin-bottom: -1em">
    <section class="mb-4">
      <a style="text-decoration: none; color: #888888" class="btn btn-link btn-floating btn-sm" th:href="@{/(lang=es)}">ES</a>
      <a style="text-decoration: none; color: #888888" class="btn btn-link btn-floating btn-sm">|</a>
      <a style="text-decoration: none;color: #888888" class="btn btn-link btn-floating btn-sm" th:href="@{/(lang=en)}">EN</a>
    </section>
  </div>
  <!--<ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" th:href="@{/(lang=es)}">ES</a>
          <a class="nav-link" th:href="@{/(lang=en)}">EN</a>
      </li>
  </ul>-->

</footer>

</body>
</html>