<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{../layout/plantilla :: head-2}">
  <meta charset="UTF-8">
  <title>Sincronías Official Site | Profile </title>
</head>

<body>

<header th:replace="~{../layout/plantilla :: header}"/>

<section style="background-color:#f5f0eb">
  <br>
  <h1 id="titulos">[[#{cliente.perfil}]]</h1><br>
  <div style="text-align: center; padding-bottom: 80px" >
    <img class="circular--square" src="../../static/media/foto.jpg" />
    <div style="margin-right: 500px; margin-left: 500px;margin-top: 20px">
    <form method="POST"
          th:action="@{/users/guardarActualizado}" th:object="${cliente}"
          class="was-validated">
      <input type="hidden" name="idCliente" th:field="*{idCliente}"/>
      <label for="nombre">[[#{cliente.nombre}]]: </label>
      <input type="text" class="form-control"
             name="nombre" th:field="*{nombre}"
             required="true">
      <label for="apellidos">[[#{cliente.apellidos}]]: </label>
      <input type="text" class="form-control"
             name="apellidos" th:field="*{apellidos}"
             required="true">
      <label for="correo">[[#{cliente.correo}]]: </label>
      <input type="email" class="form-control"
             name="correo" th:field="*{correo}"
             required="true">
      <label  for="password">[[#{cliente.contrasena}]]: </label>
      <input type="password" class="form-control"
             name="password" th:field="*{password}"
             required="true">
      <label  for="telefono">[[#{cliente.telefono}]]: </label>
      <input type="text" class="form-control"
             name="telefono" th:field="*{telefono}"
             required="true">
    <div style="text-align: center;margin-top: 30px">
        <button type="submit" class="btn btn-success">
          <i class="fas fa-check"></i> [[#{accion.actualizar}]]
        </button>
    </div>
    </form>
    </div>
  </div>
</section>

<footer th:replace="~{../layout/plantilla :: footer}"/>
</body>

</html>