<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{../layout/plantilla :: head-2}">
  <meta charset="UTF-8">
  <title>Sincronías Official Site | Profile </title>
</head>

<body>

<header th:replace="~{../layout/plantilla :: header}"/>

<section style="background-color:#f5f0eb">
  <br>
  <h1 id="titulos">[[#{cliente.perfil}]]</h1><br>
  <div style="text-align: center; padding-bottom: 80px" >
    <img class="circular--square" src="../../static/media/foto.jpg"/>
    <h2 style="text-align: center;color: black; font-size: 18px; font-weight: bolder; margin-top: 8px" >[[${c.nombre}]] [[${c.apellidos}]]</h2>
   <div class="datos-perfil">
      <label style="margin-right: 100px">[[#{cliente.correo}]]: [[${c.correo}]]</label>

       <label >[[#{cliente.telefono}]]: [[${c.telefono}]]</label>
     </div>
      <div class="row" >
     <div style="margin-left: 525px; margin-top: 30px" class="col-md-2 col-xs-6">
       <a th:href="@{/users/modificar/}+${c.idCliente}"
          class="btn btn-success">
         <i class="fas fa-pencil"></i> [[#{accion.actualizar}]]
       </a>
     </div>
     <div style="text-align: center; margin-top: 30px" class="col-md-2 col-xs-6">
       <a th:href="@{/users/eliminar/}+${c.idCliente}"
          class="btn btn-danger">
         <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
       </a>
     </div>
      </div>

   </div>
 </section>

 <footer th:replace="~{../layout/plantilla :: footer}"/>
 </body>

 </html>