<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{../layout/plantilla :: head}">
  <meta charset="UTF-8">
  <title>Sincronías Official Site | Profile</title>
</head>

<body>

<header th:replace="~{../layout/plantilla :: header}"/>

<section style="background-color:#f5f0eb">
  <br>
  <h1 id="titulos">Perfil</h1><br>
  <div style="text-align: center; padding-bottom: 80px" >
    <img class="circular--square" src="sources/foto.jpg" />
    <h2 style="text-align: center;color: black; font-size: 18px; font-weight: bolder">Nombre del Usuario</h2>
    <!-- <h2 style="text-align: center;color: black; font-size: 18px; font-weight: lighter">Correo Electrónico:</h2> -->
    <div class="datos-perfil">
      <label style="margin-right: 100px">Correo Electrónico: _______________________</label>
      <label >Número Telefónico: _______________________</label>
    </div>
    <div style="text-align: center">
      <button class="botones-individual" style="margin-right: 230px">Actualizar Perfil</button>
      <button class="botones-individual">Borrar Perfil</button>
    </div>
  </div>
</section>

<footer th:replace="~{../layout/plantilla :: footer}"/>
</body>

</html>