<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{../layout/plantilla :: head-2}">
    <meta charset="UTF-8">
    <title>Sincronías Official Site | Register </title>
</head>

<body>

<header th:replace="~{../layout/plantilla :: header}"/>

<div class="contenedor-login">
    <img id="img-login" src="../../static/media/fondo.jpg" width="1500" />
    <div class="texto-sobre-imagen" style="text-align: center">
        <label style="font-size: 30px">[[#{cliente.regcompleto}]]</label><br>
        <br> <br> <br>
        <a th:href="@{/users/perfil}" style="text-decoration: none"><button
                class="botones-individual-login"
                style="background-color: green">[[#{cliente.inicioS}]]</button></a>
    </div>
</div>

<footer th:replace="~{../layout/plantilla :: footer}"/>
</body>

</html>