<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{../layout/plantilla :: head-2}">
    <meta charset="UTF-8">
    <title>Sincronías Official Site | Men Catalog </title>
</head>

<body>

<header th:replace="~{../layout/plantilla :: header}"/>

<section style="background-color:#f5f0eb">
    <div class="enlaces-catalogo">
        <a th:href="@{/catalogue/women}" id="enlace-individual-catalogo">ROPA DE MUJER</a>
        <a th:href="@{/catalogue/men}" id="enlace-individual-catalogo" style="font-weight: bold">ROPA DE HOMBRE</a>
        <a th:href="@{/catalogue/child}" id="enlace-individual-catalogo" >ROPA DE NIÑOS</a>
        <a th:href="@{/catalogue/baby}" id="enlace-individual-catalogo"  >ROPA DE BEBÉ</a>
    </div>
</section>

<footer th:replace="~{../layout/plantilla :: footer}"/>
</body>

</html>