<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{../layout/plantilla :: head-2}">
  <meta charset="UTF-8">
  <title>Sincronías Official Site | Women Catalog </title>
</head>

<body>

<header th:replace="~{../layout/plantilla :: header}"/>
<section style="background-color:#f5f0eb;padding-bottom: 50px">
  <br>
  <h1 id="titulos">[[#{producto.titulo}]]</h1>
  <section id="articulos" style="margin-top: 35px">
    <div class="container">
      <div class="row row-cols-2" style="margin-left: 410px">
        <div class="card" style="margin: 5px">
          <!-- <div th:if="${articulo.categoria == 3L}">-->
          <div class="card-body">
            <figure style="text-align: center">
              <img th:src="@{${articulo.imagen}}" width="120"/>
            </figure>
          </div>
          <div class="card-body">
            <h5 class="card-title">[[${articulo.descripcion}]]</h5>
            <h7 class="card-title">[[${articulo.detalle}]]</h7>
            <figure style="margin-top: 10px">
              $[[${articulo.precio}]]
            </figure>
            <form>
              <input type="hidden" name="texto" th:value="${articulo.idArticulo}"/>
              <input type="hidden" name="texto" th:value="${articulo.existencias}"/>
              <button class="btn btn-outline-success" id="addCar"
                      name="addCar" onclick="addCard(this.form)"
                      type="button">
                <i class="fas fa-cart-plus"></i> [[#{producto.anadir}]]
              </button>
              <button style="margin-left: 130px" class="btn btn-success" id="comprar"
                      name="comprar"
                      type="button">
                 [[#{producto.comprar}]]
              </button>
            </form>
          </div>

        </div>
      </div>
      <div class="row row-cols-2" style="margin-left: 170px"
           th:if="${articulos != null and !articulos.empty}">
        <div class="card" th:each="articulo : ${articulos}" style="margin: 5px">
          <!-- <div th:if="${articulo.categoria == 3L}">-->
          <div class="card-body">
              <figure style="text-align: center">
                <img th:src="@{${articulo.imagen}}" width="120"/>
              </figure>
          </div>
          <div class="card-body">
            <h5 class="card-title">[[${articulo.descripcion}]]</h5>
            <h7 class="card-title">[[${articulo.detalle}]]</h7>
            <figure style="text-align: center">
              [[${articulo.precio}]]
            </figure>
            <form>
              <input type="hidden" name="texto" th:value="${articulo.idArticulo}"/>
              <input type="hidden" name="texto" th:value="${articulo.existencias}"/>
              <button class="btn btn-ligth" id="addCar"
                      name="addCar" onclick="addCard(this.form)"
                      type="button">
                <i class="fas fa-cart-plus"></i>
              </button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </section>
</section>

<footer th:replace="~{../layout/plantilla :: footer}"/>
</body>
</html>