<!DOCTYPE html>
<html>

<head th:replace="~{layout/plantilla :: head-2}">
  <meta charset="UTF-8">
  <title>Sincronías Official Site | Fashion Clothes</title>
</head>

<body>

<header th:replace="~{layout/plantilla :: header}"/>

<section style="background-color:#f5f0eb">
  <br>
  <h1 id="titulos">Compra finalizada</h1><br>
  <div class="contenedor-compra">
    <div style="text-align: center">
      <a href="index.html" style="text-decoration: none"><button class="botones-individual-compraFinalizada">Volver al menú principal</button></a>
    </div>
  </div>
</section>

<footer th:replace="~{layout/plantilla :: footer}"/>

</body>

</html>