<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/plantilla :: head}">
  <meta charset="UTF-8">
  <title>Sincronías Official Site | Fashion Clothes</title>
</head>

<body>

<header th:replace="~{layout/plantilla :: header}"/>

<section style="background-color:#f5f0eb">
  <br>
  <h1 id="titulos">Acerca de Nosotros</h1>
  <div id="seccionInformativa">
    <h2 style="text-align: center;color: black; font-size: 18px">Misión</h2>
    <p class="textoInformativo">Nuestra misión es transformar el
      sistema de cómo se ha venido realizando el comercio
      en nuestro país para poder ser una fuente de ingresos para
      muchas personas que se van a beneficiar a través de
      nuestra plataforma tecnológica donde podrán utilizarla para
      convertirse en emprendedores y generar dinero extra
      que les permita tener ingresos dignos para su realización
      personal y sus familias.</p>
    <br>
    <h2 style="text-align: center;color: black; font-size: 18px">Visión</h2>
    <p class="textoInformativo"> Ser la manufacturera en Costa Rica
      más grande en la confección de prendas de dama en él
      área de blusas, vestidos y shores, también en el
      departamento de caballeros en él área de camisas, shores y
      bóxer.
      También convertir la empresa en una fuente de empleo para
      más de 100 personas en el sector de Heredia y sus
      alrededores.</p>
    <br>
    <h2 style="text-align: center;color: black; font-size: 18px">Sucursales</h2>
    <div style="text-align: center">
      <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15716.895765067016!2d-84.13064632603896!3d9.998351985635693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0faddaded66bd%3A0x2527e99d1a1e0bdf!2sHeredia!5e0!3m2!1ses!2scr!4v1675536685554!5m2!1ses!2scr"
              width="550" height="400" style="border:0;"
              allowfullscreen=""
              referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <br>
    <br>
    <h2 style="text-align: center;color: black; font-size: 18px">Contacto</h2>
    <p class="textoInformativo">Lorem ipsum dolor sit amet,
      consectetur adipiscing elit, maecenas nostra cursus.
      Pharetra ultricies massa bibendum tristique dapibus nostra
      euismod congue, nascetur velit aliquet urna nam eget
      scelerisque curabitur, hac aliquam viverra orci interdum
      magna quam. Ultrices class cubilia suspendisse ut
      dictumst egestas tristique natoque vulputate facilisis non
      augue, in venenatis lacus magnis hendrerit sed velit
      orci fringilla mus tempus pharetra, nisi euismod leo dapibus
      urna curabitur pellentesque ante fermentum metus
      sociosqu.</p>
    <br>
  </div>
  <br><br><br>
</section>

<footer th:replace="~{layout/plantilla :: footer}"/>
</body>

</html>