<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link href="/src/main/resources/CSS/styles.css" rel="stylesheet" type="text/css" />
        <meta charset="UTF-8">
        <title>Sincronías Official Site | Fashion Clothes</title>
        <link rel="shortcut icon" href="sources/shortcut_icon.png" />

    </head>

    <body>
        <header th:fragment="header" id="encabezado">
            <h1 class="company_name">Sincronias</h1>
            <div id="icons">
                <a href="perfil.html" style="padding-right: 9px"><img
                        src="/src/main/resources/static/sources/usuario.png" /></a>
                <a href="carritoCompras.html" style="padding-right: 13px"><img
                        src="/src/main/resources/static/sources/bolsa.png"></a>
                <a href="paginaInformativa.html"><img
                        src="/src/main/resources/static/sources/informacion.png"></a>
            </div>
            <div class="flexsearch">
                <div class="flexsearch--wrapper">
                    <form class="flexsearch--form" method="get"
                        action="http://www.google.com/search ">
                        <div class="flexsearch--input-wrapper">
                            <input class="flexsearch--input" name="q"
                                placeholder=" Buscar">
                        </div>
                        <input class="flexsearch--submit" type="submit"
                            value="&#10140;" />
                    </form>
                </div>
            </div>

            <div class="enlaces">
                <a href="index.html" id="enlace-individual">Inicio</a>
                <a href="catalogos.html" id="enlace-individual">Catálogos</a>
                <a href="paginaInformativa.html" id="enlace-individual">Acerca
                    de nosotros</a>
            </div>
        </header>

        <footer id="footer" th:fragment="footer">
            <a href="https://www.whatsapp.com/" style="padding-right: 5px"><img
                    src="/src/main/resources/static/sources/whatsapp.png" /></a>
            <a href="https://www.instagram.com/" style="padding-right: 5px"><img
                    src="/src/main/resources/static/sources/instagram.png" /></a>
            <a href="https://www.facebook.com/"><img
                    src="/src/main/resources/static/sources/facebook.png"
                    /></a>
            <p id="infofooter">© 2023 Sincronías SA Todos los derechos
                reservados</p>
        </footer>

    </body>
</html>